/* Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: currentColor;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

/*Debug*/

.debug * {
    border: solid red 3px;
    padding: 10px;
}

header.debug {
    height: 80px;
    background-color: orange;
}

.debug .container {
    border: solid blue 3px;
    
}

.debug .row {
    border: solid violet 3px;
}
.debug .col {
    border: solid seagreen 3px;
}

.debug .card {
    height: 760px;
}

/*Regole generali*/

body {
    font-family: 'Arial';
}

.sales-page {
    padding: 160px 60px;
}

.container {
    max-width: 1500px;
    margin: 0px auto;
}

.row {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.col {
    flex-basis: calc((100% - 40px) / 3);
}

/* HEADER*/


 .main-header {
     background-color: #FF6900;
     color: #E7E7E7;
     padding: 20px 60px;
     position: fixed;
     left: 0;
     right: 0;
     z-index: 99999;

 }

.header-row {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.header-col {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

 .logo {
     width: 150px;
     display: flex;
     align-items: center;
 }

 .icon {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 10px;
 }

/* CARDS*/

.card {
    padding-bottom: 50px;
}


.card-pic-image {
    position: relative;
    
}

.index-1 {
    transition: 300ms ease-in-out;
}

.index-1:hover {
    opacity: 0;
}

.index-0 {
    position: absolute;
    left: 0;
    z-index: -1;
}

.ticket {
    color: white;
    position: absolute;
    bottom: 40px;
    z-index: 998;
    text-align: center;

}

.sale {
    background-color: rgb(233, 41, 41);
    display: inline-block;
    padding: 5px 7px;
}

.category {
    background-color: rgb(0, 116, 0);
    display: inline-block;
    padding: 5px 7px;
}

/* BADGE */

.badge {
    position: absolute;
    right: 0;
    top: 15px;
    padding: 15px;
    background-color: white;
    z-index: 999;
}

.hearts {
    position: relative;
    cursor: pointer;
}

.red-heart {
    position: absolute;
    right: 50%;
    transform: translate(50%);
    opacity: 0;
}

.badge:hover .red-heart {
    opacity: 100%;
}

.badge:hover .black-heart {
    opacity: 0;
}

/*TEXT CARD*/

.text * {
    line-height: 1.2em;
}

.brand {
    font-size: 12px;
    font-weight: 200;
}

.product {
    font-size: 14px;
    font-weight: bold;
}

.price {
    color: red;
    font-size: 12px;
    font-weight: bold;
}

.bar-price {
    font-weight: 200;
    text-decoration: line-through;
    color: black;
}

/* Footer */

.main-footer {
    padding: 30px 0;
    background-color: rgb(30, 27, 27);
    color: white;
}

.rowFooter {
    display: flex;
    justify-content: space-between;
}

.colFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

